<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--Load angilar -->
    <script src="/angular/angular.min.js"></script>
    <!-- my app-->
    <script src= "/index.js"></script>

</head>
<body ng-controller="MyCtrl as myCtrl">
    <h1>{{myCtrl.message}}</h1>
</body>
</html>